# os
.DS_Store

# temporary data
_tmp/

# visual studio code
# .vscode/

# pytest
.pytest_cache/
__pycache__/

# coverage
_pytest-report/

# pytype
_pytype_output/

# mypy
.mypy_cache/

# dist
dist/

# python virtualenv
.venv/
